<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist\css\bootstrap.css' %}">
    <script src="{% static 'bootstrap-4.5.2-dist\js\bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style9.css' %}" />
</head>

<body>

    <div class="main">
        {% if user.is_authenticated %}
        <h1 style="font-size:80px"> Selamat {{ user.username }}! </h1>
        <p class="mt-5">Anda sekarang telah melihat bagaimana PPW akan segera berakhir :>
            <br>Semoga UAS nanti nilai Anda memuaskan!</p>

        <a href="{% url 'story9:logout' %}" class="btn btn-rose mt-5" id="logout" style="color: white;"
            name="logout">Log Out</a>

        {% else %}
        <h1>Selamat Datang</h1>
        <p>Masuk ke dalam akun mu!</p>
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-2"></div>
                <form action="" method="POST" class="col-lg-4 col-sm-8 ">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-rose mt-3 mb-4" id="login">log in</button>
                </form>
                <div class="col-lg-4 col-sm-2"></div>
            </div>
        </div>

        <p>atau <a href="{% url 'story9:home' %}" style="font-weight: bold">sign up</a> jika kamu merasa belum memiliki akun</p>

        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}


        {% endif %}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</body>

</html>
