{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bootstrap-4.5.2-dist\js\bootstrap.js' %}"></script>
    <title>story6</title>
</head>
{% include "navbar.html" %}
<div class="container-fluid col-12 pt-5">
    <section class="container-fluid flex-wrap align-content-center mb-5">

    <h1>Open Class</h1>
    <h1>Kaum Rebahan</h1>

    <div class="pt-4">
        <table class="table-hover table table-borderless mx-5 mb-5 m-auto" style="width:90vw">
            <thead class="text-center" style="color: aliceblue;">
                <tr>
                <th>Aktivitas</th>
                <th>Waktu</th>
                <th>Deskripsi</th>
                <th>Partisipan</th>
                </tr>
            </thead>
    
        <tbody>
            {% for aktivitas in list_aktivitas %}
            <tr id="spesialtr">
            <td class="text-center"><b>{{ aktivitas.kegiatan }}</b></td>
            <td class="text-center">{{ aktivitas.tanggal }}</td>
            <td class="text-center">{{ aktivitas.deskripsi }}</td>
            <td class="text-center">
                {% for partisipan in list_tamu %}
                    {% if partisipan.kegiatan == aktivitas %}
                        <div>
                            {{ partisipan }}
                        </div>
                    {% endif %}
                {% endfor %}
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="pt-3">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            
            <table class="table mx-5 table-borderless" style="width:40vw; color:aliceblue;">
                {% if submit %}
                <tr>
                    <td>&nbsp;</td>
                    <td style="color: white;">Berhasil bergabung dengan kaum rebahan</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button class="btn d-flex click">
                            <a href="{% url 'homepage:index' %}" class="text-dark">
                                Ikut kegiatan rebahan lainnya
                            </a>
                        </button>
                    </td>
                </tr>
                {% else %}
        
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Submit" class="btn click" />
                    </td>
                </tr>
                {% endif %}
            </table>
            </form>
    </div>
    </section>
    </div>
</body>
</html>