{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bootstrap-4.5.2-dist\js\bootstrap.js' %}"></script>
    <title>tambah</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid col-12 pt-5 m-auto">
        <section class="container-fluid flex-wrap align-content-center mb-5">
        <h1>
            Jelajahi Benak Rebahan
        </h1>
        <div class="pt-4">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <table class="table mx-5 table-borderless" style="width:60vw; color:white">
                    {{ form.as_table }}
                    {% if submit %}
                    <tr>
                    <td>&nbsp;</td>
                    <td>Successfully added an activity.</td>
                    </tr>
                    <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button class="btn d-flex click" id="spesialbutton">
                        <a href="{% url 'homepage:tambah' %}" style="color:black">
                            Tambah Kembali
                        </a>
                        </button>
                    </td>
                    <td>
                        <button class="btn d-flex click" id="spesialbutton">
                        <a href="{% url 'homepage:index' %}" style="color:black">
                            Kembali
                        </a>
                        </button>
                    </td>
            
                    </tr>
                    {% else %}
                    <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Submit" class="btn click" />
                    </td>
                    </tr>
                    {% endif %}
                </table>
                </form>
    
        </div>
        
        </section>
    </div>
</body>
</html>