body {
    background-color: #8D8989;
}

#spesialtr {
    background-color: white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5vw;
    color: white;
    text-align: center;
}

thead {
    background-color: #CDB7AA;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.btn {
    background-color: white;
    color: black;
}